<h1>Persona Desaparecida</h1>

<body>
  <section class="missing">
    <figure>
      <figcaption><%= @identity.first_name %></figcaption>
      <% if @identity.avatar? %>
        <%= image_tag @identity.avatar.url, :size => "260x130" %>
      <% else %>
        <img src="https://i.imgur.com/udaFXMH.png" alt="Missing Person" />
      <% end %>
    </figure>
    <ul class="missing-key">
      <li>Desaparecido desde:</li>
      <li>Desaparecido en:</li>
      <li>Fecha de Nacimiento:</li>
      <li>Edad:</li>
      <li>Sexo:</li>
      <li>Tez:</li>
      <li>Color de pelo:</li>
      <li>Color de ojos:</li>
      <li>Estatura:</li>
      <li>Peso:</li>
    </ul>
    <ul class="missing-value">
      <li>March 30, 2015</li>
      <li>Monterrey, NL</li>
      <li>March 15, 1997</li>
      <li>18</li>
      <li>Masculino</li>
      <li>Moreno</li>
      <li>Negro</li>
      <li>Café</li>
      <li>81</li>
      <li>145</li>
    </ul>
  </section>
</body>


<%= link_to 'Editar', edit_identity_path(@identity) %>

