// Place all the styles related to the Dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.logo-nav {
  height: 3rem;
  margin-top: -5px;
}

.nav-color {
  background-color: #55A2C9 !important;
}

.logout-white {
  color: white !important;
}
